<!-- <p>
  {{link-to "Booking list" "bookings.index" }}
</p> -->

<h1>Booking show</h1>

<p>
  <strong>Start at:</strong>
  <span>{{model.startAt}}</span>
</p>

<p>
  <strong>End at:</strong>
  <span>{{model.endAt}}</span>
</p>

<p>
  <strong>Price:</strong>
  <span>{{model.price}}</span>
</p>

<p>
  <strong>Client email:</strong>
  <span>{{model.clientEmail}}</span>
</p>

<p>
  <strong>Rental:</strong>
  <span>{{model.rental.name}}</span>
</p>
